*{
    
}
nav{
    width: 100%;
    height: 4em;
    box-shadow: 0px 0px 10px 2px rgba(0, 0,0, 0.15);
    
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.titulos{
    padding: 2em 2em 0em 5em;
    color: #acacac85;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

nav img{
    padding: 1em 2em 0em 3.5em;
}

.segundoTitulos{
    overflow: hidden;
    width: 100%;
    
    margin-top: 1em;
    border-bottom: slategray;
    
}
.segundoTitulos a{
    float: left;
   
    text-align: center;
    text-decoration: none;
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 2em 0em 5.5em;
    color: #9B9CA6;
}

.lineaH{
    border-bottom: 1px solid #B2B3BE;
    margin: 0em 5em 0em em;
}

section{
    padding: 1em 0em 0em 3em;
    
    width: 100%;

}
 section ul{
    list-style-type: none;
 }
 
 section li{
     border-radius: 1.5em;
     float: left;
     padding: 2em 2em 2em 2em;
     margin: 0em 2% 0em 0em;
     box-shadow: 0px 0px 10px 2px rgba(0, 0,0, 0.15);
     width: 25%;
     height: 15em;

 }

 li img{
     object-fit: cover;
 }
 .panel-img {
    width: 100%;
    height: 100%;
    
    
  }
  body {
    padding:0;
    margin:0;

background-size:fit;
  overflow:hidden;
}
.box{
    width:300px;
    height:auto;
    background:rgba(0,0,0,0.4);
    top:50%;
    left:50%;
     position:absolute;
    box-sizing:border-box;
  border-radius:10px;
    transform:translate(-50%,-50%);
    padding:60px 20px;
    
}
.profile{
    
    position:relative;
    border-radius:50%;
    top:calc(-50px/2);
    left:calc(50% - 50px);
    overflow:hidden;
}
 h2
 {
     padding:0 0 10px;
     text-align:center;
     font-weight:bold;
     font-size:20px;
     color:rgb(53, 54, 105);
 }
 .box .lable{
     margin:0;
     padding:0;
     color:white;
     font-weight:bold;
     font-size:18px;
 }
 .box input{
     width:100%;
     margin-bottom:10px;
 }
    
.box input[type="email"],
.box input[type="password"]
{
    border:none;
    border-bottom:3px solid #ffe6ff;
    background:transparent;
    height:40px;
    outline:none;
    color:#fff;
    font-size:16px;
}
::placeholder
{
    color: rgba(255, 255, 255, 0.603);
}
.box input[type="submit"]
{
    height:30px;
    background-color:#3363ff;
    border-radius:20px;
    font-weight:bold;
    color:black;
    cursor:pointer;
    font-size:15px;
    
}
.box input[type="submit"]:hover
{
    
    background-color: #0f3781c4;
    color:#000;
}
.box .forpas
{
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    
}
